# 빌드 결과물
dist
build
*.min.js
*.min.css

# 의존성
node_modules
pnpm-lock.yaml

# 생성된 파일
coverage
.turbo
*.tsbuildinfo

# Storybook
storybook-static

# E2E 테스트 결과
test-results
playwright-report

# 기타
.DS_Store
*.log
.env
.env.local
